body{
    margin-left: 2rem;
    margin-right: 2rem;
   
    padding: 0.4rem;
    
}
a{

    text-decoration: none;
}
.nav-link dropdown-toggle
{
    color: white;
    text-decoration: none;  
}
#raj
{
    color: white;
    text-decoration: none;
}

.rr
{
    font-size: small;
}
.choose
{
    color: rgba(4, 55, 21, 0.957);
}
#info
{
    display: flex;
    justify-content:space-between;
    border-bottom: 0.5px solid #aaa;   
}
#logo
{
    align-items: flex-start;
    height: 3rem;
    width: 5rem;
}
table{
    margin-left: 0.4rem;
    margin-right: 2rem;
}
#r:hover,{
    color:green;
    outline-offset: 3px;
  }
  #p
  {
    color:black;
  }
  
